.loginlabelContainer{
color: grey;
font-size: 50px;
font-weight: 500;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.inputboxLoginstyle{
    font-size: 20px;
    width: 100%;
    font-style: italic;
}
.secondContainer{
    font-size: 20px;
    color: grey;
    
}
.signupTextstyle{
    color:cornflowerblue
}
.submitbuttonstyle{
    
    font-size:20px ;
    font-weight: bold;
}