
:root{
    --colorValue:brown;
    --fontstyleValue:Georgia, 'Times New Roman', Times, serif;
}
.loginlabelContainer{
    font-size: 50px;
    color:var(--colorValue)
}
.inputboxLoginstyle{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.secondContainer{
    font-size: 20px;
}
.signupTextstyle{
    font-size: 20px;
    color:blue;
}