:root{
    --colorValue:brown;
    --fontstyleValue:Georgia, 'Times New Roman', Times, serif;
}
.inputbox-Style{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    
}
.loginText{
    color:blue;

}
.labelContainer{
    font-size: 50px;
    color: var(--colorValue);
    font-family:var( --fontstyleValue);
}
.mainContainer{
    font-size: 20px;
}
input[type="submit"]{
    width:100%;
    background-color:cornflowerblue;
    text-align: center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}